.professionalExperience {
    position: relative;
    font-weight: 600;
  }
  .frameChild {
    width: 1098px;
    position: relative;
    max-height: 100%;
  }
  .professionalExperienceParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    font-size: var(--font-size-21xl);
    color: var(--color-black);
  }
  .peoplesoftMarch2021ToPres {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-18xl);
  }
  .peoplesoftMarch2021Container {
    position: relative;
  }
  .frameParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-dimgray-200);
    font-family: var(--font-nunito-sans);
  }
  